
ul{
    display: grid;
     grid-template-columns: repeat( auto-fill,minmax(100px, 200px));
     grid-template-rows: 200px;
     grid-gap:5px;
     
   

}

li:hover{
    opacity: 0.9;
    box-shadow: 10px 10px 30px black;
}

li{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}

